.DS_Store
*.html

Data/Cluster/shapespace_charadriiformes/*
Poster/*

## R ignore
.Rhistory
*.Rda
*.rda
*.RData
*.Rapp.history

## The data folders
Data/Raw/Beak_data/*
Data/Raw/Tree_data/*

## The example pipelines
Analysis/mcmc-plus-tensor-master/*
Analysis/MCMCglmm_covar/*


## LaTeX BS
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz


## Figures drafts and stuff
Manuscript/Figures/others/*
